html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Montserrat', sans-serif;
}

th {
    text-transform : none !important;
}

.red-asterisk {
    color: red;
}

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden !important;
}