@model Clinique2000_Models.Models.FileDAttente

@{
    ViewData["Title"] = "Create";
    // Retrieve the int value from ViewData
    int? cliniqueId = ViewData["CliniqueId"] as int?;
}

<h1>Créer</h1>

<h4>File d'attente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateHeureInscriptions" class="control-label"></label>
                <input asp-for="DateHeureInscriptions" class="form-control" />
                <span asp-validation-for="DateHeureInscriptions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateHeureOuverture" class="control-label"></label>
                <input asp-for="DateHeureOuverture" class="form-control" />
                <span asp-validation-for="DateHeureOuverture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateHeureFermeture" class="control-label"></label>
                <input asp-for="DateHeureFermeture" class="form-control" />
                <span asp-validation-for="DateHeureFermeture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreMedecins" class="control-label"></label>
                <input asp-for="NombreMedecins" class="form-control" />
                <span asp-validation-for="NombreMedecins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Créer" class="btn btn-outline-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a type="button" class="btn btn-outline-secondary mt-2" href="javascript:history.back()">Retour</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
