@using Microsoft.AspNetCore.Identity
@using Clinique2000_Models.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        {
            string username = UserManager.GetUserName(User);
            int atIndex = username.IndexOf('@');
            string truncatedUsername = (atIndex >= 0) ? username.Substring(0, atIndex) : username;

            ViewBag.TruncatedUsername = truncatedUsername;
        }

    <li class="nav-item fs-6">
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Bonjour @ViewBag.TruncatedUsername!</a>
    </li>
        <li class="nav-item fs-6">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "Utilisateur" })">
            <button id="logout" type="submit" class="nav-link">Se déconnecter</button>
        </form>
    </li>
}

else
{
    <li class="nav-item fs-6">
        <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">S'inscrire</a>
    </li>
    <li class="nav-item fs-6">
        <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">Se Connecter</a>
    </li>
}
</ul>
