@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center " style="margin-top:25vh">
    <h1 class="display-1 text-black ">
        Bienvenue sur Clinique 2000
    </h1>
    <h4 class="text-primary" style="margin-bottom:25vh; margin-top:5vh">
        Le meilleur site pour accéder à une consultation sans rendez-vous dans une clinique proche de chez vous.
    </h4>
</div>