@{
    ViewData["Title"] = "Politique de confidentialité";
}
<h1>@ViewData["Title"]</h1>

@*à faire : mettre le texte en colonnes*@

<div class="container">
    <div class="row">
        <div class="col-6">
            <p>
                Nous allons voler toutes vos données avec votre consentement, bien sûr. Mais ne vous inquiétez pas, nous avons engagé une équipe de chauve-souris super
                secrète pour garder vos informations en sécurité. Ce sont des chauve-souris formées par Batman lui-même, alors vous savez que vos données sont entre de
                bonnes mains... ou plutôt entre de bonnes ailes !
            </p>
            <p>
                Nous considérons vos données personnelles comme notre propre trésor. Imaginez-nous comme des pirates numériques modernes, mais au lieu de chercher des
                coffres remplis d'or, nous cherchons à savoir quel est votre animal totem préféré (c'est pour une étude très importante, promis).
            </p>
            <p>
                Nous aimons jouer avec vos données, comme un enfant dans un bac à sable avec ses jouets préférés. Nous les manipulons, les tripatouillons et les échangeons
                avec d'autres entreprises pour obtenir des réductions sur les pizzas et les donuts. Ne vous inquiétez pas, nous ne les revendons pas à des extraterrestres,
                à moins qu'ils ne nous offrent une planète entière en échange. Dans ce cas, nous pourrions être tentés...
            </p>
            <p>
                Nous adorons également utiliser vos données pour vous envoyer des publicités personnalisées. Vous vous demandez peut-être comment nous devinons que vous avez
                toujours voulu un grille-pain en forme de panda. Eh bien, laissez-nous vous dire que nos algorithmes sont plus intelligents que les perroquets de pirates.
                Ils sont capables de prédire vos désirs les plus profonds, comme si nous étions des voyantes de l'internet.
            </p>
        </div>
        <div class="col-6">
            <p>
                Maintenant, si vous vous inquiétez de la sécurité de vos données, nous avons une solution révolutionnaire. Nous avons engagé un groupe d'élans ninjas pour
                protéger vos informations. Oui, vous avez bien lu. Des élans ninjas. Ils sont furtifs, rapides et très habiles avec un clavier. Vous pouvez dormir paisiblement
                en sachant que vos données sont gardées par des créatures majestueuses aux compétences martiales impressionnantes.
            </p>
            <p>
                Nous devons également vous informer que votre consentement est extrêmement important pour nous. Nous ne voulons pas voler vos données sans votre accord.
                C'est comme si nous vous demandions poliment de nous donner votre portefeuille, mais en échange, nous vous offrons une danse de la joie réalisée par des
                pingouins en smoking. C'est un échange équitable, n'est-ce pas ?
            </p>
            <p>
                Enfin, sachez que nous aimons tellement vos données que nous les gardons même lorsque vous supprimez votre compte. Elles sont comme ces vieux t-shirts
                troués que vous refusez de jeter. Nous ne pouvons tout simplement pas nous en séparer. Alors, même si vous partez, vos données resteront avec nous pour
                toujours, comme une carte au trésor que nous chérissons.
            </p>
            <figcaption class="blockquote-footer mt-3">
                ChatGPT <img src="/images/ChatGPT.png" height="25vh" width="auto" />
            </figcaption>
        </div>
    </div>
</div>