@model Clinique2000_Models.ViewModels.ConsultationVM

@{
    ViewData["Title"] = "Gérer mes consultations";
}

<div class="text-center">
    <h1>La consultation de <strong>@Model.HeurePrevueRV</strong> a été terminée</h1>
</div>
